body {
  background-color: #02258e;
}

h1 {
  color: #ffd000;
  text-align: center;
  font-family: verdana
  font-size: 50px;
}

p {
  color: #ffd000;
  text-align: center;
  font-family: verdana
  font-size: 30px;
}

img{
  image-orientation: center;
  border: 20px solid white;
}
